{{define "base"}}
<!DOCTYPE html>
<html id="html_tag" lang="en" data-bs-theme="dark">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>GO Sass Test Project</title>
  <link rel="stylesheet" href="/html/css/style.css" />
  <script src="https://unpkg.com/htmx.org@1.9.9"
    integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous">
    </script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body>

  {{template "layout" .}}

  <script>
    console.log("Release the hounds!!");
  </script>
</body>

</html>
{{ end }}
