*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #e6f2ff; }

.container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas: "header header header header" "sidenav main main main" "sidenav main main main" "sidenav main main main" "sidenav main main main"; }

.sidenav {
  grid-area: sidenav; }

.main {
  grid-area: main; }

.header {
  height: 10rem;
  position: relative;
  grid-area: header;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
  border-radius: .5rem;
  margin: .5rem;
  box-shadow: 9px 9px 17px -3px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: 9px 9px 17px -3px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 9px 9px 17px -3px rgba(0, 0, 0, 0.66);
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .header button {
    margin-top: 3rem; }
  .header__testmsg {
    margin: 2rem 2rem 0 1rem;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: left;
    color: #fff;
    border: .3rem solid grey;
    border-radius: 5rem;
    padding: .5rem; }
  .header__button {
    color: #ffffff;
    background-color: #0a275c;
    font-size: 19px;
    border: 0px solid #2d63c8;
    border-radius: 8px;
    padding: 10px 30px;
    cursor: pointer; }
  .header__button:hover {
    color: #2d63c8;
    background-color: #ffffff; }
  .header__button2 {
    color: #ffffff;
    background-color: #0a275c;
    font-size: 19px;
    border: 0px solid #2d63c8;
    border-radius: 8px;
    padding: 10px 30px;
    cursor: pointer; }
  .header__button-logout {
    color: #ffffff;
    background-color: #0a275c;
    font-size: 19px;
    border: 0px solid #2d63c8;
    border-radius: 8px;
    padding: 10px 30px;
    cursor: pointer; }
  .header__button2:active {
    color: green; }
  .header__button-logout:active {
    color: green; }
  .header__rightside {
    margin-right: 3rem; }
    .header__rightside button {
      margin-left: 2rem; }
